.section.main {
  background-color: #f5f8fa;
}
.card-header {
    background-color: lightgrey;
    background-position: 0 50%;
    background-size: 100% auto;
    border-bottom: 1px solid #e1e8ed;
    border-radius: 4px 4px 0 0;
    height: 95px;
    width: 100%;
}
.card-content {
    padding: 0px;
}
.card-avatar {
  background-color: #fff;
  border-radius: 6px;
  display: inline-block !important;
  float: left;
  margin: -30px 5px 0 8px;
  max-width: 100%;
  padding: 1px;
  vertical-align: bottom;
}
.card-avatar-img {
  border: 2px solid #fff;
  border-radius: 7px;
  box-sizing: border-box;
  color: #fff;
  height: 72px;
  width: 72px;
}
.card-user {
    margin: 5px 0 0;
}
.card-user-name{
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
}
.card-user-name a{
    color: inherit !important;
}
.card-stats {
    margin-left: 11px;
    padding: 10px 0;
}
.card-stats-list {
    box-sizing: border-box;
    display: table;
    margin: 0;
    min-width: 100%;
    padding: 0;
    table-layout: auto;
}
ul.card-stats-list {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.card-stats-item {
    display: table-cell;
    padding: 0;
    vertical-align: top;
}
.card-stats-item a:hover {
    text-decoration: none;
}
.card-stats-val {
    display: block;
    font-size: 18px;
    font-weight: 500;
    transition: color 0.15s ease-in-out 0s;
}
.card-stats-key {
    color: #8899a6;
    font-size: 10px;
    letter-spacing: 0.02em;
    overflow: hidden;
    text-transform: uppercase;
    transition: color 0.15s ease-in-out 0s;
}
.spacer {
  height:20px;
}

.trending .trend-title {
  padding-bottom: 10px;
}

.trending .trend-hashtag {
  padding-bottom: 8px;
}

/*##### My Stuff #####*/

figure.image {
    position:relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

figure.image .selected-icon {
    z-index: 500;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
    overflow: hidden;
    color: #1fc8db;
    font-size: 300%;
}

figure.image.selected .selected-icon {
    background: rgba(100,100,100, 0.75);
}

textarea {
    margin-top: 1em;
    white-space: pre;
}